{% extends "base.html" %}

{% block title %}About{% endblock %}

<body>
    {% block centralcontent %}<h1>Omniscience - The Book</h1>
    <p>Imagine a book that contains every piece of possible knowledge ever. A book which has the Bible, Encyclopaedia
        Britannica, deciphered Indus Valley civilization writings and decoded Voynich manuscript. You will find it here.
        The very source code of the universe is just a couple clicks/taps away.</p>
    <p>Would you dare turn its pages?</p>
    <p>Inspired by "The Library of Babel" by Jorge Luis Borges</p>
    <p>This application/website/book/codex contains a fixed amount of information. Its pages are not random however,
        every page has a number and can be seen at any time.</p>
    <p>Total amount of information in the book is 5.3308253643 * 10^1468 characters which is overwhelmingly larger than
        the number of atoms in the known universe.</p>
    <p>Every page is 1024 characters long and contains lowercase English (Latin) alphabet letters and space.</p>
    {% endblock %}