<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omniscience - {% block title %}{% endblock %}</title>
    <script src="/static/htmx.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">


    {% block scripts %}{% endblock %}

</head>

<body>
    <nav class="navbar">
        <a href="/"><strong>Omniscience</strong></a>
        <a href="/page">Page Lookup</a>
        <a href="/about">About</a>
        <a target="_blank" href="https://github.com/mshyshov/Omniscience">GitHub</a>
    </nav>

    {% block topsection %}{% endblock %}


    <div class="central-content">
        <div class="distinctive-box">
            {% block centralcontent %}{% endblock %}
        </div>
    </div>



    <div class="bottom-bar">
        Mykhailo Shyshov - 2025
    </div>
</body>

</html>