{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/random')
            .then(response => response.json())
            .then(data => {
                document.getElementById('copy-content').innerText = data.page_number;
                document.getElementById('main-content').innerText = data.page;
            });
    });
</script>
{% endblock %}

<body>
    {% block topsection %}
    <div class="top-section">
        <div class="copy-box" id="copy-content">Page number will appear here</div>
        <button hx-get="/api/random" hx-trigger="click" hx-swap="none" hx-on="htmx:afterRequest: 
                    const response = JSON.parse(event.detail.xhr.response);
                    document.getElementById('copy-content').innerText = response.page_number;
                    document.getElementById('main-content').innerText = response.page;">
            Refresh
        </button>
        <button hx-on="click: navigator.clipboard.writeText(document.getElementById('copy-content').innerText)">
            Copy Page Number to Clipboard
        </button>
        <button hx-on="click: {
            const el = document.getElementById('copy-content');
            el.style.display = el.style.display === 'block' ? 'none' : 'block';
        }">
            Toggle Page Number Visibility
        </button>

    </div>
    {% endblock %}

    {% block centralcontent %}
    <h3>Random Page:</h3>
    <span id="main-content">Page content will appear here</span>
    {% endblock %}